<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aula Exemplo</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</head>

  <body>
    <div class="container mt-2">
      <div class="card">
        <div class="card-header">
          <h1>Sistema de Cálculo de Idade!</h1>
        </div>
        <div class="card-body">
          <div class="form-group col-12">
            <label for="nascimento">Informe a data de nascimento:</label>
            <input class="form-control" type="date" id="nascimento" />
          </div>
          <div class="form-group col-12 mt-2">
            <button type="button" onclick="calcular()" class="btn btn-success">
              Calcular
            </button>
          </div>
        </div>
        <div class="card-footer hidden">
          <p id="result">Resultado:</p>
        </div>
      </div>
    </div>
  </body>

  <script>
        async function calcular() {
            const url = "/atividade/1";

            const nascimento = document.getElementById("nascimento").value;

            try{
                const resposta = await fetch(url, {
                    method: "POST",
                    headers: {
                         'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({nascimento: nascimento})
                });

                if (!resposta.ok) {
                    throw new Error('Erro na requisição: ' + resposta.status);
                }

                const resultado = await resposta.json();
                document.getElementById("result").innerText = "Resultado: " + resultado.idade + " anos de idade";
            }catch(error){
                console.error("Erro de comunicação ", error)
            }
            
        }
  </script>
</html>